<p>entry works!</p>

<div class="grid-container">

  <div>
    <form [formGroup]="lyricForm">
      <label>Artist</label><input name="artist" type="text"/>
      <label>Song</label><input name="song" type="text"/>
      <button (click)="onSubmit()">Find</button>
    </form>
  </div>
</div>

    <!-- <form> -->

      <!-- <label>Artist</label><input type="text" id="form-control" name="artistControl"/>
      <label>Song</label><input type="text" id="form-control" name="songControl"/>
      <button (click)="onSubmit()">Find</button> -->

    <!-- </form> -->

        <!--<button class="button" type="submit">Purchase</button> -->

  <!-- <div [hidden]="submitted">
    <h1>Hero Form</h1>

    <form (ngSubmit)="onSubmit()" #entryForm="ngForm"> -->
    <!-- Form template variable is now a reference to the NgForm directive-->
  
       <!-- ... all of the form ... -->

       <!-- <div class="form-group">

         <label for="Artist">Artist</label>
         <input type="text" class="form-control" id="artist" required [(ngModel)]="artistControl" name="artist"/>

       </div>
       
       <div class="form-group">

         <label for="songName">Alter Ego</label>
         <input type="text" class="form-control" id="songName" [(ngModel)]="songControl" name="songControl"/>
         
       </div>


      <button type="submit" class="btn btn-success">Submit</button>
       
    </form>

  </div> -->
  
  

