<!DOCTYPE html>
<html>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <!--background-->
    <!-- <div class="background"><iframe height="100%" width="100%" src="https://www.youtube.com/embed/tQ0yjYUFKAE?autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div> -->
    <!--background-->


  <p>contents works!</p>
  <div *ngIf="contentsService.contentsBody.length">

    <div class="lyricContents">{{contentsService.contentsBody}}</div>
  <!-- 
    <div *ngFor='let contents of contentsService.contentsBody'>{{contents}}</div> -->

    <!-- <div *ngFor='let contents of contentsService.contentsBody'>{{contents}}</div> -->

    <!-- Overlay text to describe the video -->
    <!-- <div class="content">
      <h1>Peaches</h1>
      <p>Lorem ipsum...</p> -->
      <!-- Use a button to pause/play the video with JavaScript -->
      <!-- <button id="myBtn">See Lyrics</button>
    </div> -->
    <!-- Overlay text to describe the video -->
    

  </div>

</body>

</html>
