/*Video Background*/

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  /* opacity: .8; */
  z-index:-2;
}

/*Form Styling*/
.form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 30px 0px;
  grid-template-areas:
    ". ."
    "left right"
    ". bottom-right";

  align-items: center;
}

label{
  font-size: x-large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  color:white;
  margin-right:10px;
  opacity: .5;
}

input {
  font-size: x-large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-left:25px;
  font-weight: bold;
  color:rgb(167, 164, 164);
  opacity: .5;
}

.column-artist{
  grid-area:left;
  justify-self:center;

}

.column-song{
  grid-area:right;
  justify-self:centre;
}

.column-button{
  grid-area:bottom-right;
  justify-self:center;

}

.global-form-children{
  border-radius:20px;
  border: 3px inset white;
  height: 50px;
  background-color: transparent;
}

.btn {

  margin-left:10px;

  font-size: large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-left:25px;
  padding-right:25px;
  font-weight: bold;
  color:rgb(167, 164, 164);
  opacity: .5;
}

.btn:hover {
  background-color: rgba(6, 6, 6, 0.509);
  color:rgb(255, 255, 255);
}