<!DOCTYPE html>
<html>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

<p>searchform works!</p>
<!-- main app container -->
<div class="form">

  <div class="form-wrapper">

      <form class="form-container" [formGroup]="searchForm" (ngSubmit)="onSubmit()">

            <!--Artist-->
              <div class="form-group column-artist">
                  <label>Artist</label>
                  <input type="text" formControlName="name" class="form-control global-form-children"/>
                  <!-- <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                      <div *ngIf="f.firstName.errors.required">First Name is required</div>
                  </div> -->
              </div>

              <!--Song-->

              <div class="form-group column-song">
                  <label>Song</label>
                  <input type="text" formControlName="song" class="form-control global-form-children"/>
                  <!-- <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                      <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                  </div> -->
              </div>
          
              <!--Song-->
              <div class="button-group column-button">
                  <button class="btn btn-primary mr-1 global-form-children">Register</button>
                  <button class="btn btn-secondary global-form-children" type="reset" (click)="onReset()">Cancel</button>
              </div>

      </form>
  </div>

</div>

<!-- credits -->
<!-- <div class="text-center">
  <p>
      <a href="https://jasonwatmore.com/post/2020/04/19/angular-9-reactive-forms-validation-example" target="_top">Angular 9 - Reactive Forms Validation Example</a>
  </p>
  <p>
      <a href="https://jasonwatmore.com" target="_top">JasonWatmore.com</a>
  </p>
</div> -->

</body>

</html>